@using Microsoft.AspNetCore.Http
@model drift.Models.Dto.CompetitionScoreResponse
@inject IHttpContextAccessor httpContextAccessor

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
    var autoGen = false;
}

<form method="GET" asp-controller="CompetitionResult"
      asp-action="GetScores" 
      asp-route-competitionId="@Model.competitionId" 
      asp-route-participantName="@Model.participantName"
      >
	<div>
		<input type="text" asp-for="participantName" />
		<input type="hidden" value="@Model.competitionId" asp-for="competitionId" />
	</div>
    <button class="btn btn-success" type="submit">
			Найти
		</button>
</form>



<table class="table">
    <thead>
    <tr class="bg-primary">
        <th scope="col">Участник</th>
        <th scope="col">Номер участника</th>
        <th scope="col">Очки за угол</th>
        <th scope="col">Очки за трассу</th>
        <th scope="col">Очки за стиль</th>
        <th scope="col">Попытка</th>
        <th scope="col">Общие очки</th>
    </tr>
    </thead>
    <tbody>
    @for (var i = 0; i < Model.Scores.Count; i++)
    {
        <tr class="bg-info">
            @if (i == 0 || @Model.Scores[i].ParticipantName != @Model.Scores[i - 1].ParticipantName)
            {
                <th scope="col">@Model.Scores[i].ParticipantName</th>
                <th scope="col">@Model.Scores[i].ParticipantNumber</th>
            }
            else
            {
                <th></th>
                <th></th>
            }
            <th scope="col">@Model.Scores[i].AngleScore</th>
            <th scope="col">@Model.Scores[i].TrackScore</th>
            <th scope="col">@Model.Scores[i].StyleScore</th>
            <th scope="col">@Model.Scores[i].Attempt</th>
            <th scope="col">@Model.Scores[i].Total</th>
        </tr>
        @if (i == @Model.Scores.Count - 1 || @Model.Scores[i].ParticipantName != @Model.Scores[i + 1].ParticipantName)
        {
            <tr class="bg-success">
                <th scope="col">Лучшие результаты</th>
                <th scope="col"></th>
                <th scope="col">@Model.Scores[i].BestAngle</th>
                <th scope="col">@Model.Scores[i].BestTrack</th>
                <th scope="col">@Model.Scores[i].BestStyle</th>
                <th scope="col"></th>
                <th scope="col">@Model.Scores[i].BestTotal</th>
            </tr>
        }
    }
    </tbody>
</table> 
@if (Model.createdById == httpContextAccessor.HttpContext.User.Identity.Name)
{
    <a class="nav-link text-dark" asp-controller="CompetitionResult" asp-action="StartMainPhase" asp-route-autoGenerate="true" asp-route-competitionId="@Model.competitionId">
        <button class="btn btn-success" type="submit">
            Начать основной этап (автоматическая генерация)
        </button>
    </a>
    
    <a class="nav-link text-dark" asp-controller="CompetitionResult" asp-action="StartMainPhase" asp-route-autoGenerate="false" asp-route-competitionId="@Model.competitionId">
        <button class="btn btn-success" type="submit">
            Начать основной этап (ручная генерация)
        </button>
    </a>
}