@model System.Collections.Generic.List<drift.Data.Entity.CompetitionScoreDto>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<table class="table">
    <thead>
    <tr class="bg-primary">
        <th scope="col">Paricipant</th>
        <th scope="col">Angle Score</th>
        <th scope="col">Track Score</th>
        <th scope="col">Style Score</th>
        <th scope="col">Attempt</th>
        <th scope="col">Total</th>
    </tr>
    </thead>
    <tbody>
    @for (var i = 0; i < Model.Capacity; i++)
    {
        <tr class="bg-info">
            @if (i == 0 || @Model[i].Participant.Id != @Model[i - 1].Participant.Id)
            {
                <th scope="col" >@Model[i].Participant.UserName</th>
            }
            else
            {
                <th></th>
            }
            <th scope="col">@Model[i].AngleScore</th>
            <th scope="col">@Model[i].TrackScore</th>
            <th scope="col">@Model[i].StyleScore</th>
            <th scope="col">@Model[i].Attempt</th>
            <th scope="col">@Model[i].Total</th>
        </tr>
        @if (i == @Model.Capacity - 1 || @Model[i].Participant.Id != @Model[i + 1].Participant.Id)
        {
            <tr class="bg-success">
                <th scope="col">Best</th>
                <th scope="col">@Model[i].BestAngle</th>
                <th scope="col">@Model[i].BestTrack</th>
                <th scope="col">@Model[i].BestStyle</th>
                <th></th>
                <th></th>
            </tr>
        }
    }
    </tbody>
</table>