@model IEnumerable<drift.Models.Dto.CompetitionApplicationDto>

<h1>Ожидающие заявки</h1>

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.ParticipantNumber)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Participant)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Competition)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ApprovedByTech)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.ParticipantNumber)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Participant.Email)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Competition.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ApprovedByTech)
				</td>
				<td>
					<a asp-action="Approve" asp-route-id="@item.ApplicationId">Подтвердить</a>
				</td>
			</tr>
		}
	</tbody>
</table>
