@model drift.Data.Entity.CompetitionApplication

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CompetitionApplication</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Car)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Car.Model)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParticipantNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParticipantNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdentityUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdentityUser.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Competition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Competition.CreatedById)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApprovedByMedics)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApprovedByMedics)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApprovedByTech)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApprovedByTech)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApprovedByOrganizer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApprovedByOrganizer)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
