@using Microsoft.AspNetCore.Http
@model drift.Models.Dto.CompetitionDto
@inject IHttpContextAccessor httpContextAccessor


@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>@Model.Name</h2>
<p>@Model.Description</p>
<p>@Model.StartDate</p>
    @if (!@Model.Finished)
    {
        <button class="btn btn-success">
            @Html.ActionLink("Начать соревнование", "GenerateResults", "CompetitionResult", new {competitionId = @Model.Id}, new {@class = "mb-1 text-white"})
        </button>
    }
    else
    {
        <button class="btn btn-success">
            @Html.ActionLink("Сетка результатов", "GetResults", "CompetitionResult", new {competitionId = @Model.Id}, new {@class = "mb-1 text-white"})
        </button>
        <button class="btn btn-success">
            @Html.ActionLink("Очки", "GetScores", "CompetitionResult", new {competitionId = @Model.Id}, new {@class = "mb-1 text-white"})
        </button>
    }
@if (@Model.CreatedById.Equals(httpContextAccessor.HttpContext.User.Identity.Name))
{
    <table class="table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => @Model.Applications.First().ParticipantName)
            </th>
            <th>
                @Html.DisplayNameFor(model => @Model.Applications.First().ParticipantNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => @Model.Applications.First().Paid)
            </th>
            <th>
                @Html.DisplayNameFor(model => @Model.Applications.First().ApprovedByTech)
            </th>
            <th>
                @Html.DisplayNameFor(model => @Model.Applications.First().ApprovedByMedics)
            </th>
            <th>
                @Html.DisplayNameFor(model => @Model.Applications.First().ApprovedByOrganizer)
            </th>
            <th>Действие</th>
        </tr>
        </thead>
        @foreach (var application in @Model.Applications)
        {
            <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => application.ParticipantName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => application.ParticipantNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => application.Paid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => application.ApprovedByTech)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => application.ApprovedByMedics)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => application.ApprovedByOrganizer)
                </td>
                <td>
                    @if (!application.ApprovedByOrganizer)
                    {
                        <button>
                            <a asp-action="Approve" asp-route-id="@application.ApplicationId">Подтвердить участие</a>
                        </button>
                    }
                </td>
            </tr>
            </tbody>
        }
    </table>

}