@using Microsoft.AspNetCore.Http
@model drift.Models.Dto.CompetitionDto
@inject IHttpContextAccessor httpContextAccessor


@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>@Model.Name</h2>
<p>@Model.Description</p>
<p>@Model.StartDate</p>

@if (@Model.CreatedById.Equals(httpContextAccessor.HttpContext.User.Identity.Name))
{
    @foreach (var application in @Model.Applications)
    {
        <li class="list-group-item list-group-item-action flex-column align-items-start">
            <p class="mb-1">@application.ParticipantName</p>
            <p class="mb-1">@application.ParticipantNumber</p>
            <p class="mb-1">@application.Paid</p>
            <p class="mb-1">@application.ApprovedByTech</p>
            <p class="mb-1">@application.ApprovedByMedics</p>
            <p class="mb-1">@application.ApprovedByOrganizer</p>
        </li>
    }
    @if ((bool) !@Model.Finished)
    {
        @Html.ActionLink("Start competition", "GenerateResults", "CompetitionResult", new {competitionId = @Model.Id}, new {@class = "mb-1"})
    }
    else
    {
        @Html.ActionLink("Сетка результатов", "GetResults", "CompetitionResult", new {competitionId = @Model.Id}, new {@class = "mb-1"})
       <br>
        @Html.ActionLink("Очки", "GetScores", "CompetitionResult", new {competitionId = @Model.Id}, new {@class = "mb-1"})

    }
}