@model System.Collections.Generic.List<drift.Models.Dto.CompetitionDto>
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
@foreach (var comp in @Model)
{
    <li class="list-group-item list-group-item-action flex-column align-items-start">
        @Html.ActionLink(@comp.Name, "GetCompetition", "Competition", new {id = @comp.Id}, new {@class = "mb-1"})
        <p class="mb-1">@comp.Description</p>
        <small> asad @comp.CreatorUserName</small>
    </li>
}